/* Main styles */
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/4753885/pexels-photo-4753885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}

.back-button {
  position: relative;
  top: 4%;
  right: 40%;
  background-color: transparent;
  border: none;
  color: #ffffff;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.back-button svg {
  font-size: 3em;
  font-weight: 900;
}

.back-button svg:hover {
  color: #b34f20;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 550px;
  height: auto;
  background-color: #000000;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin-top: 1rem;
}

.form-container .title {
  font-size: 28px;
  color: #a33400;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.form-container .title::before,
.form-container .title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #a33400;
}

.form-container .title::before {
  width: 18px;
  height: 18px;
  background-color: #a33400;
}

.form-container .title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.form-container .message,
.form-container .signin {
  color: #ffffff;
  font-size: 1em;
}

.form-container .signin {
  text-align: center;
}

.form-container .signin a {
  color: #a33400;
}

.form-container .signin a:hover {
  text-decoration: underline #d8450b;
}

.form-container .flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-container .form label {
  position: relative;
}

.form-container .form label input[type="text"],
.form-container .form label input[type="password"],
.form-container .form label input[type="email"],
.form-container .form label select,
.form-container .form label input[type="number"] {
  width: 100% !important;
  padding: 10px 10px 20px 10px;
  margin: 0 !important;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.84);
  box-sizing: border-box;
}

.form-container .form .flex label {
  width: 48%;
}

.form-container .form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: rgba(66, 65, 65, 0.856);
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form-container .form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form-container .form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form-container .form label .input:valid + span {
  color: #d8450b;
}

.form .submit {
  border: none;
  outline: none;
  background-color: #a33400;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease;
}

.form .submit:hover {
  background-color: #d8450b;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .signup {
    padding: 35px;
    justify-content: normal;
  }

  .back-button {
    top: -2%;
    right: 49%;
  }

  .back-button svg {
    font-size: 2.5em;
  }

  .form-container .form {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }

  .form-container .title {
    font-size: 24px;
    padding-left: 20px;
  }

  .form-container .form label input[type="text"],
  .form-container .form label input[type="password"],
  .form-container .form label input[type="email"],
  .form-container .form label select,
  .form-container .form label input[type="number"] {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .form .submit {
    font-size: 16px;
    padding: 10px;
  }

  .form-container .message,
  .form-container .signin {
    font-size: 0.9em;
  }

  .form-container .form label .input + span {
    left: 10px;
    top: 19px;
    font-size: 0.9em;
  }

  .form-container .form label .input:placeholder-shown + span {
    top: 14px;
    font-size: 0.7em;
  }

  .form-container .form label .input:focus + span,
.form label .input:valid + span {
  top: 25px;
  font-size: 0.7em;
  font-weight: 600;
}

}
